* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background: #FFFF;
    font-size: calc(16/1920*100vw);
    font-family: sans-serif;
    letter-spacing: 0.625rem;
    font-weight: 300;
}

@media only screen and (max-width: 640px) {
  html {
    font-size: calc(16/640*100vw);
  }
}

.color-wrapper {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-wrapper__color {
    height: 100%;
    width: 100%;
    transition: background-color 300ms ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.color-wrapper__output {
    position: relative;
    margin: 0 auto;
    font-size: 3rem;
    text-align: center;
    color: #FFFF;
    text-shadow: 2px 2px 4px #00000070;
    z-index: 2;
    background: transparent;
    border: none;
    transition: all 50ms ease-in-out;
    letter-spacing: 0.625rem;
}

.color-wrapper__output:active {
    transform: scale(1.1);
    opacity: 0.5;
    outline: none;
}

.color-wrapper__output:focus {
    outline: none;
}

.install-btn__wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5vh;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
}

.install-btn {
    padding: 0.625rem 1rem;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    background: #FFFF;
    border: 2px solid #000;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    font-family: monospace;
}

.install-btn:hover {
  transform: scale(1.1);
}

.hide {
    display: none;
}